.product-list{
  margin-top: 50px;
  max-width: 825px;
}
.product-list .table tbody{
  max-height: 763px;
  overflow-y: auto;
  table-layout: fixed;
  display: block;
  max-width: 100%;
}
.table{
  color: white!important;
  text-align: left;
  font-size: 14px;
}
 .product-list .table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table tbody td:first-child,.table thead th:first-child{
  width:116px;
}
.table tbody td:nth-child(2),.table thead th:nth-child(2){
  width:238px;
}
.table tbody td:nth-child(3),.table thead th:nth-child(3){
  width:111px;
}
.table tbody td:nth-child(4),.table thead th:nth-child(4){
  width:160px;
}
.table tbody td:nth-child(5),.table thead th:nth-child(5){
  width:93px;
}
.table tbody td:last-child,.table thead th:last-child{
  width:107px;
}
.product-list  .table thead{
  background-color: #2B2F55;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 8px;
  display: table;
  width: 853px;
  table-layout: fixed;
}
.table th:first-child{
  border-radius:8px 0 0 8px;
}
.product-list .table th,.product-list .table td{
  border: none;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  width: 8px;
  border-radius: 4px;
  margin-top: 15px;

}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  width: 4px;
  border-radius: 4px;
  height: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
.product-list .table .success,.product-list .table .failure{
  position: relative;
}
.product-list .table .success::before,.product-list .table .failure::before{
  position:absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
max-width: 65px;
max-height: 20px;
padding: 2px 11px;
border-radius: 2px;
}
.product-list .table .success::before{
  content:"success";
  color: #63F4F7;
  background-color: rgba(99, 244, 247, 0.2);
}
.product-list .table .failure::before{
  content:"fail";
  color: #FE7448;
  width: 38px;
  background-color: rgba(254, 116, 72, 0.2);
}